:root {
  --bg: #020202;
  --fg: #cdd6f4;
  --scrollbar: #6c7086;
  --links: #b4befe;
  --links-light: #585b70;
  --links-dark: #45475a;
}

::-webkit-scrollbar {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

::-webkit-scrollbar-corner {
  background: var(--bg);
}

body {
  background: var(--bg);
  color: var(--fg);
}

nav {
  padding-bottom: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  padding-right: 10px;
  display: inline-block;
}

a {
  color: var(--links);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1.5px solid var(--links-dark);
}

a:hover {
  border-bottom: 1.5px solid var(--links-light);
}

main {
  padding: 0;
  line-height: 150%;
}

body {
  max-width: 700px;
  padding: 0 14px;
  margin: 40px auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
}

code:not(h2 code) {
  font-size: 0.9rem;
  word-wrap: break-word;
}

code:not(pre code) {
  font-weight: 550;
}

pre code {
  margin: 12px;
  display: inline-block;
}

/* TODO
 * a, a:hover
 */
/* Background */ .bg { color: #fab387; background-color: #1e1e2e; }
/* PreWrapper */ .chroma { color: #fab387; background-color: #1e1e2e; }
/* Error */ .chroma .err { color: #f38ba8 }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #343442 }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7d5943 }
/* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7d5943 }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #cba6f7 }
/* KeywordConstant */ .chroma .kc { color: #cba6f7; font-style: italic }
/* KeywordDeclaration */ .chroma .kd { color: #cba6f7 }
/* KeywordNamespace */ .chroma .kn { color: #cba6f7 }
/* KeywordPseudo */ .chroma .kp { color: #cba6f7; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #cba6f7 }
/* KeywordType */ .chroma .kt { color: #f9e2af }
/* Name */ .chroma .n { color: #b4befe }
/* NameAttribute */ .chroma .na { color: #f9e2af }
/* NameBuiltin */ .chroma .nb { font-style: italic }
/* NameBuiltinPseudo */ .chroma .bp { color: #b4befe }
/* NameClass */ .chroma .nc { color: #f9e2af }
/* NameConstant */ .chroma .no { color: #f9e2af }
/* NameDecorator */ .chroma .nd { color: #f5c2e7 }
/* NameEntity */ .chroma .ni { color: #f5c2e7 }
/* NameException */ .chroma .ne { color: #eba0ac }
/* NameFunction */ .chroma .nf { color: #89dceb }
/* NameFunctionMagic */ .chroma .fm { color: #b4befe }
/* NameLabel */ .chroma .nl { color: #f9e2af }
/* NameNamespace */ .chroma .nn { color: #f9e2af }
/* NameProperty */ .chroma .py { color: #b4befe }
/* NameTag */ .chroma .nt { color: #cba6f7 }
/* NameVariableClass */ .chroma .vc { color: #b4befe }
/* NameVariableGlobal */ .chroma .vg { color: #b4befe }
/* NameVariableInstance */ .chroma .vi { color: #b4befe }
/* NameVariableMagic */ .chroma .vm { color: #b4befe }
/* LiteralString */ .chroma .s { color: #a6e3a1 }
/* LiteralStringAffix */ .chroma .sa { color: #a6e3a1 }
/* LiteralStringBacktick */ .chroma .sb { color: #a6e3a1 }
/* LiteralStringChar */ .chroma .sc { color: #a6e3a1 }
/* LiteralStringDelimiter */ .chroma .dl { color: #a6e3a1 }
/* LiteralStringDoc */ .chroma .sd { color: #a6e3a1 }
/* LiteralStringDouble */ .chroma .s2 { color: #a6e3a1 }
/* LiteralStringEscape */ .chroma .se { color: #89b4fa }
/* LiteralStringHeredoc */ .chroma .sh { color: #a6e3a1 }
/* LiteralStringInterpol */ .chroma .si { color: #a6e3a1 }
/* LiteralStringOther */ .chroma .sx { color: #a6e3a1 }
/* LiteralStringRegex */ .chroma .sr { color: #89b4fa }
/* LiteralStringSingle */ .chroma .s1 { color: #a6e3a1 }
/* LiteralStringSymbol */ .chroma .ss { color: #a6e3a1 }
/* Operator */ .chroma .o { color: #89dceb }
/* OperatorWord */ .chroma .ow { color: #89dceb; font-weight: bold }
/* Punctuation */ .chroma .p { color: #cdd6f4 }
/* Comment */ .chroma .c { color: #585b70; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #585b70; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #585b70; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #585b70; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #585b70; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #89b4fa; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #89b4fa; font-style: italic }
/* GenericDeleted */ .chroma .gd { color: #eba0ac }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #eba0ac }
/* GenericHeading */ .chroma .gh { color: #89dceb; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #a6e3a1 }
/* GenericPrompt */ .chroma .gp { color: #6c7086; font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #89dceb; font-weight: bold }
/* GenericTraceback */ .chroma .gt { color: #eba0ac }
/* TextWhitespace */ .chroma .w { color: #313244 }
