:root {
  --bg: #020202;
  --fg: #cdd6f4;
  --scrollbar: #6c7086;
  --links: #b4befe;
  --links-light: #585b70;
  --links-dark: #45475a;
}

::-webkit-scrollbar {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

::-webkit-scrollbar-corner {
  background: var(--bg);
}

body {
  background: var(--bg);
  color: var(--fg);
}

a {
  color: var(--links);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1.5px solid var(--links-dark);
}

a:hover {
  border-bottom: 1.5px solid var(--links-light);
}

main {
  padding: 0;
  line-height: 150%;
}

body {
  max-width: 700px;
  padding: 0 14px;
  margin: 40px auto;
}

table {
  table-layout: fixed;
  width: 100%
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
}

code:not(h2 code) {
  font-size: 0.9rem;
  word-wrap: break-word;
}

code:not(pre code) {
  font-weight: 550;
}

pre code {
  margin: 12px;
  display: inline-block;
}

.index-date, .index-post {
  padding-top: 20px;
}

/* TODO
 * a, a:hover
 */
